{% extends 'core/base.html' %}
{% block title %}Services | Formula{% endblock title %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/services.css' %}">
{% endblock css %}
{% block content %}


<section class="gestion-connaissance section-deux">
    <div class="left-section">
        Gestion des connaissances
    </div>
    <div class="right-section">
        <img src="{% static 'app/img/gestion-connaissance.png' %}" alt="">
    </div>
</section>

<section class="modelsation-connaissance section-deux">
    <div class="left-section">
        <img src="" alt="">
    </div>
    <div class="right-section">
        Modelisation des connaissances
    </div>
    
</section>

<section class="formalisation-connaissances section-deux">
    <div class="left-section">
        Formalistion des connaissances
    </div>
    <div class="right-section">
        <img src="" alt="">
    </div>
    
</section>

<section class="cloud-computing section-deux">
    <div class="left-section">
        <img src="{% static 'app/img/cloud-computing.png' %}" alt="">
    </div>
    <div class="right-section">
        Cloud Computing
    </div>
    
</section>




{% endblock %}

{% block scripts %}{% endblock scripts %}