* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'navbar' 'main-body';
    background-color: #eee;
}

nav {
    grid-area: navbar;
}

main {
    grid-area: main-body;
    background-color: #eee;
}