.main-formalisation {
    grid-template-columns: 1fr auto 0.8fr;
    display: grid;
    grid-template-rows: 90vh;
    grid-template-areas: 'list-formalisation-form  list-connaissance-form  affichage-connaissance-form';
}

.list-formalisation-form,
.list-connaissance-form,
.affichage-connaissance-form {
    overflow: auto;
    margin: 10px;
    background-color: white;
}

.list-formalisation-form {
    grid-area: list-formalisation-form;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.list-connaissance-form {
    grid-area: list-connaissance-form;
}

.affichage-connaissance-form {
    grid-area: affichage-connaissance-form;
}

.data {
    width: 80%;
    display:none;
}

.select-models {
    width: 80%;
    height: 40px;
    font-size: 15px;
    margin-bottom: 10px;
}

.element-center {
    display: flex;
    justify-content: center;
}

.icon-visualisation {
    width: 20px;
    height: 20px;
}